body {
    font-family: 'Dosis',"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Verdana, Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1.2em;
    line-height: 24px;
    text-align: center;
}

div.maincontainer {
    margin-top:70px;
    text-shadow: 4px 4px 4px #eee;
    width:940px;
    margin-left:auto;
    margin-right:auto;
    padding-top:20px;
    padding-bottom:20px;
}

div.maincontainer h1 {
    margin-top:0;
}

div.maincontainer table {
    margin-left:auto;
    margin-right:auto;
}

div.maincontainer table tr td:nth-child(odd) {
    width:150px;
    text-align:right;
    font-size:12pt;
}

div.maincontainer table tr td:nth-child(even) {
    width:300px;
    text-align:left;
    padding-left:20px;
    padding-bottom:10px;
    padding-top:10px;
}

input {
    border: 1px solid #ccc; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; 
    padding: 5px 10px 5px 10px;
    margin: 5px 0 10px 0;
    font-size:10pt;
    background-color:white;
}

input:hover, input:focus {
    background-color: rgba(220,220,220,0.5);
    color:#555;
}

fieldset {
    padding:0;
    margin:0; 
    width:600px;
    margin-left:auto;
    margin-right:auto;
}

legend {
    width:100px;
    padding:0;
    margin-bottom:20px;
    font-size:24px;
    line-height:40px;
    color:#333;
}

.alertfont {
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:11pt;
}

.loginbox {
    position:absolute;
    top:0;
    left:20px;
    margin-top:40px;
    background-color:#fff;
    border:2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
    font-size:12pt;
    height:auto;
    text-align:center;
    padding:10px 1px 10px 1px;
    width:200px;
    z-index:-1;
    display:none;
}

hr {
    margin:10px 0 10px 0;
    border:0;
    border-top:1px solid #eee;
    border-bottom:1px solid #fff;
}

.loginbox input {
    padding:3px;
    margin:0;
    width:120px;
}