body {
    font-family: 'Dosis', "Helvetica Neue", Verdana, Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1.2em;
    line-height: 24px;
    text-align: center;
}

/* BOOTSTRAP OVERRIDES */

.navbar .nav>li>a {
    color:#08c;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    border:2px solid #ccc;
}

fieldset {
    border:1px solid #c0c0c0;
    width:600px;
    margin-left:auto;
    margin-right:auto;
}

legend {
    width:100px;
    font-size:24px;
    border:0;
}

/* END OF BOOTSTRAP OVERRIDES */

div.maincontainer {
    margin-top:70px;
    text-shadow: 4px 4px 4px #eee;
    width:940px;
    margin-left:auto;
    margin-right:auto;
    padding-top:20px;
    margin-bottom:300px;
    border-collapse:collapse;
}

div.maincontainer h1 {
    margin-top:0;
}

div.maincontainer #uyetablo {
    margin-left:auto;
    margin-right:auto;
}

div.maincontainer #uyetablo tr td:nth-child(odd) {
    width:150px;
    text-align:right;
    font-size:12pt;
}

div.maincontainer #uyetablo tr td:nth-child(even) {
    width:300px;
    text-align:left;
    padding-left:20px;
    padding-bottom:10px;
    padding-top:10px;
}

input {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; 
    padding: 5px 10px;
    margin: 5px 0 10px;
    font-size:10pt;
    background-color:white;
}

input:hover, input:focus {
    background-color: rgba(220,220,220,0.5);
    color:#555;
}

.alertfont {
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:11pt;
}

fieldset.uyefs {
    background-color:#f9f9f9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

legend.uyelegend {
    background-color:#fff;
    border:1px solid #ddd;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.upperbox {
    position:absolute;
    top:0;
    margin-top:40px;
    background-color:#fff;
    border:2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
    font-size:12pt;
    height:auto;
    text-align:center;
    padding:10px 1px;
    z-index:-1;
    display:none;
}

.loginbox {
    left:20px;
    width:200px;
}

.userbox {
    left:80px;
    width:150px;
}

hr {
    margin:10px 0;
    border:0;
    border-top:1px solid #eee;
    border-bottom:1px solid #fff;
}

.loginbox input {
    padding:3px;
    margin:0;
    width:120px;
}

.maincontainer .hqmenu {
    width:940px;
    height:20px;
    z-index:2;
    border-bottom:1px solid #f9f9f9;
}

.maincontainer .hqmenu ul {
    list-style:none;
    text-shadow:none;
}

.maincontainer .hqmenu ul li {
    left:0;
    display:block;
    float:left;
    margin:0 10px 0 0;
    padding:2px 5px;
}

.maincontainer .hqmenu ul .active {
    background-color:#f9f9f9;
    -moz-border-radius-topleft:7px;
    -webkit-border-top-left-radius:7px;
    -moz-border-radius-topright:7px;
    -webkit-border-top-right-radius:7px;
    border:1px solid #c0c0c0;
    border-bottom:1px solid #f9f9f9;
    padding:2px 15px;
    z-index:5;
}

.maincontainer .hqcontainer {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border:1px solid #c0c0c0;
    position:relative;
    width:940px;
    z-index:4;
    background-color:#f9f9f9;
    padding:10px 25px;
    text-align:left;
    margin:4px 0;
    text-shadow:none;
}

.maincontainer .hqcontainer .baslik {
    text-shadow:2px 2px 4px #ccc;
    display:block;
    margin:0;
    padding:5px 0;
    font-size:1em;
}

.maincontainer .hqcontainer .bilgiler {
    margin-left:30px;
    font-size:12pt;
}

.maincontainer .hqcontainer input[type="password"], 
.maincontainer .hqcontainer input[type="email"] {
    padding:1px 5px;
    margin:0;
    width:150px;
    border:1px solid #ccc;
}
.maincontainer .hqcontainer input[type="password"]:hover, 
.maincontainer .hqcontainer input[type="email"]:hover,
.maincontainer .hqcontainer input[type="password"]:focus, 
.maincontainer .hqcontainer input[type="email"]:focus {
    background-color:rgba(255,255,255,0.2);
}

.tipbox {
    background-color:#f0f0f0;
    width:170px;
    max-width:170px;
    text-align:justify;
    font-size:10pt;
    padding:5px 10px;
    color:#000;
    position:absolute;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index:1100;
    opacity:0.9;
    filter:alpha(opacity=90);
    top:60px;
    left:0;
    margin: 0 5px;
    border:1px solid black;
}

.sakla {
    display:none;
}

.sharebox {
    width:800px;
    margin: 50px auto;
    padding:0;
    background-color:#fafafa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; 
    border:1px solid #f1f1f1;
}

.sharebox .inner {
    position:relative;
    text-align:left;
    padding: 5px 30px;
    margin:0;
}
.sharebox ul.share {
    padding:0;
    margin:0;
}
.sharebox ul.share li {
    display:inline;
    list-style-type:none;
    padding:0;
    margin:0 15px 0 0;
}

.sharebox .sharelinkbox {
    height:10px;
    width:150px;
    margin-top:12px;
    font-size:9pt;
    font-family:Verdana,Helvetica,Arial,sans-serif;
}

.footer {
    position:fixed;
    bottom:0;
    width:100%;
    background-color:#fff;
    border-top:1px solid #ccc;
    -webkit-box-shadow: 0px -2px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0px -2px 3px 0px rgba(0, 0, 0, 0.2);
    z-index:-2;
}
.footer .inner {
    position:relative;
    width:940px;
    border-bottom:1px dashed #ddd;
    margin: 0 auto;
    text-align:left;
    padding:0 10px;
    font-size:10pt;
}

.footer .inner a {
    color:#000;
    text-decoration:none;
}

.footer .inner a:hover {
    text-decoration:underline;
}
.footer .footnote {
    position:relative;
    width:940px;
    padding:5px 0;
    margin:0 auto;
    font-size:7pt;
    font-family:Verdana,Helvetica,sans-serif;
}

.maincontainer .oysonuc {
    background-color:#fafafa;
    border:1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; 
    margin:0 auto;
}