body {
    font-family: 'Dosis', "Helvetica Neue", Verdana, Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1.2em;
    line-height: 24px;
    text-align: center;
}

/* BOOTSTRAP OVERRIDES */

.navbar .nav>li>a {
    color:#08c;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    border:2px solid #ccc;
}

fieldset {
    border:1px solid #000;
    width:600px;
    margin-left:auto;
    margin-right:auto;
}

legend {
    width:100px;
    font-size:24px;
    border:0;
}

/* END OF BOOTSTRAP OVERRIDES */

div.maincontainer {
    margin-top:70px;
    text-shadow: 4px 4px 4px #eee;
    width:940px;
    margin-left:auto;
    margin-right:auto;
    padding-top:20px;
    padding-bottom:20px;
}

div.maincontainer h1 {
    margin-top:0;
}

div.maincontainer #uyetablo {
    margin-left:auto;
    margin-right:auto;
}

div.maincontainer #uyetablo tr td:nth-child(odd) {
    width:150px;
    text-align:right;
    font-size:12pt;
}

div.maincontainer #uyetablo tr td:nth-child(even) {
    width:300px;
    text-align:left;
    padding-left:20px;
    padding-bottom:10px;
    padding-top:10px;
}

input {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; 
    padding: 5px 10px;
    margin: 5px 0 10px;
    font-size:10pt;
    background-color:white;
}

input:hover, input:focus {
    background-color: rgba(220,220,220,0.5);
    color:#555;
}

.alertfont {
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:11pt;
}

.upperbox {
    position:absolute;
    top:0;
    margin-top:40px;
    background-color:#fff;
    border:2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
    font-size:12pt;
    height:auto;
    text-align:center;
    padding:10px 1px;
    z-index:-1;
    display:none;
}

.loginbox {
    left:20px;
    width:200px;
}

.userbox {
    left:80px;
    width:150px;
}

hr {
    margin:10px 0;
    border:0;
    border-top:1px solid #eee;
    border-bottom:1px solid #fff;
}

.loginbox input {
    padding:3px;
    margin:0;
    width:120px;
}